<app-header></app-header>
<app-nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="Matricula" class="nav-link" routerLinkActive="active">Matrícula</a>
    </li>
    <li class="nav-item">
        <a routerLink="Curso" class="nav-link" routerLinkActive="active">Curso</a>
    </li>
    <li class="nav-item">
      <a routerLink="Aluno" class="nav-link" routerLinkActive="active">Aluno</a>
  </li>
  </ul>
</app-nav>
<app-footer></app-footer>
